<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common/common.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/common/postCont.css" />
    <title>Journal</title>
  </head>
  <body>
    <header>
      <%- include("../partials/nav.ejs") %>
      <div class="greeting">
        <h2>Home</h2>
        <p>
          Welcome to the Daily Journal website. We are excited to see you here.
          Starting writing your journals by clicking the button below and enjoy
          the site!
        </p>
        <button onclick="window.location.href='/journal'" class="btn-compose">
          compose
        </button>
      </div>
    </header>
    <main>
      <% if(post.length === 0) { %>
      <p class="warning">No posts yet!</p>
      <% } else { %> <% post.map(pst => { %>
      <div class="post-container">
        <p onclick="postPage('<%= pst.id %>')" class="title">
          <%= pst.title %>
        </p>
        <div>
          <p onclick="postPage('<%= pst.id %>')" class="post">
            <%= pst.post %>
          </p>
          <button onclick="deletePost('<%= pst.id %>')" class="btn-delete">
            <?xml version="1.0" encoding="utf-8"?>
          </button>
        </div>
        <p class="date">
          Date: <%= pst.date.getDay() %>/<%= pst.date.getMonth() %>/<%=
          pst.date.getFullYear() %>
        </p>
      </div>
      <% }) %> <% } %>
    </main>
  </body>
  <script>
    async function postPage(id) {
      window.location.href = `/posts/${id}`;
    }
  </script>
</html>
